<div id="<%= id %>" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% medias.each_index do |media, index| %>
      <li data-target="#<%= id %>" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : ''  %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
     <% medias.each_with_index do |media, index| %>
       <div class="carousel-item <%= index == 0 ? 'active' : ''  %>">
         <%= image_tag media.url, id: index %>
       </div>
     <% end %>
  </div>
  <a class="carousel-control-prev" href="#<%= id %>" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#<%= id %>" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
